/* BODY */

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.pointer {
    position: fixed;
    left: 20px;
    top: 40%;
}

.circle {
    height: 10px;
    width: 10px;
    margin: 2px;
    border-radius: 10px;
    border:solid 3px white;
}

circle:hover {
    box-shadow: 4px 4px 10px white;
}

li {
	list-style-type: none;
}

span {
    display: none;
}

.container-global {
	/* position du conteneur pour le préparer à bouger */
    position: relative;
    top: 0;
    /* on prépare la transition à venir */
    transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}

.page {
    /* height à adapter avec media queries */
    height: 750px;
    /* préparation des transitions */
    transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}

#s1:target ~ .container-global { top: 0px; }
#s2:target ~ .container-global { top: -750px; }
#s3:target ~ .container-global { top: -1500px; }
#s4:target ~ .container-global { top: -2325px; }
#s5:target ~ .container-global { top: -3000px; }

li a {
    /* on applique des marges aux liens */
    display: inline-block;
    margin: 0 3em;
    color: #eee;
    /* on applique une petite lueur */
    text-shadow: 0 0 5px #fff;
    /* on prévoit une petite transition (lueur) */
    transition: all 1s;
}

#s1:target ~ .container-global #nav li:nth-child(1) a {background-color: white;}
#s2:target ~ .container-global #nav li:nth-child(2) a {background-color: white;}
#s3:target ~ .container-global #nav li:nth-child(3) a {background-color: white;}
#s4:target ~ .container-global #nav li:nth-child(4) a {background-color: white;}
#s5:target ~ .container-global #nav li:nth-child(5) a {background-color: white;}

/* PAGE 1 */

header {
	display: flex;
	justify-content: space-between;
}

.logos {
	display: flex;
	align-items: center;
}

.pathe-logo {
	width: 120px;
	height: 100px;
}

nav {
	width: 200px;
    height: 80px;
	display: flex;
	justify-content: space-between;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-right: 50px;
}

nav h2 {
    padding: 15px;
    border-radius: 5px;
    border: 0px solid black;
}

nav h2:hover {
    border: 1px solid white;
    color: black;
    background-color: white;
    transition: 1s;
}

main {
	display: flex;
	justify-content: space-around;
	margin-left: 150px;
}

h2, h1, #discover-button, p {
	color: white;
	font-family: 'Arial';
}

h2, h1, #discover-button {
	text-transform: uppercase;
}

.star-wars-text {
	width: 300px;
	height: auto;
}

h1 {
	font-size: 50px;
	text-align: center;
	letter-spacing: 4px;
	text-shadow: 0 0 10px lightgrey;
}

.page:first-child h1 {
	text-shadow: 0 0 20px #791919; /* good color? */
}

#discover-button {
    line-height: 50px;
    text-align: center;
    width: 180px;
    height: 50px;
    border: 1px solid white;
    /*border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, #d10f0e, #f14f00); /* DOESN'T WORK */
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

#discover-button:hover {
    color: black;
    background-color: white;
    transition: 1s;
}

.discover-pathe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.frame-shadow {
	width: 300px;
	height: auto;
}

/* PAGE 2 */

.page:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page:nth-child(2) h1 {
	margin: 0;
	text-shadow: 0 0 30px lightblue; /* good color? */
}

.page:nth-child(2) p {
	font-size: 22px;
	text-align: center;
	letter-spacing: 4px;
	text-shadow: 0 0 20px lightgrey;
	margin-bottom: 80px;
}

.container-perspective {
    height: 400px;
    width: 800px;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.perspective-left, .perspective-right {
	height: 375px;
}

.perspective-left {
	-webkit-transform: rotateY(-2deg); /* Chrome, Safari, Opera  */
    transform: rotateY(-2deg);
    /* filter: drop-shadow(0px 0px 20px #866423); */
}

.perspective-middle {
	height: 450px;
    /* filter: drop-shadow(0px 0px 20px #468ba3); */
}

.perspective-right {
	-webkit-transform: rotateY(2deg); /* Chrome, Safari, Opera  */
    transform: rotateY(2deg);
    /* filter: drop-shadow(0px 0px 20px #791919); */
}

/* PAGE 3 */

.page-carousel {
    height: 725px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-carousel:nth-child(2), .page-carousel:nth-child(3) {
    display: none;
}

.page-carousel h1 {
    font-size: 42px;
    margin-bottom: 50px;
}

.page-carousel p {
    font-size: 22px;
    margin: 0; 
}

.page-carousel:first-child h1 {
    text-shadow: 0 0 20px orange;
}

.page-carousel:first-child p {
    color: #e9cb64;
}

.page-carousel:nth-child(2) h1 {
    text-shadow: 0 0 20px lightblue;
}

.page-carousel:nth-child(2) p {
    color: #83c5f8;
}

.page-carousel:last-child h1 {
    text-shadow: 0 0 20px red;
}

.page-carousel:last-child p {
    color: #d33232;
}

.animation img {
    width: 250px;
    height: auto;
}

.description {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-desc {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.container-first-page {
    height: 100px;
}

.icons, .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text {
    margin-left: 15px;
    align-items: flex-start;
}

.face, .group, .gift {
    width: 50px;
    height: 50px;
}

.camera {
    width: 45px;
    height: 35px;
}

.figure, .hand {
    width: 45px;
    height: auto;
}

.detection, .photo {
    display: flex;
}

/* PAGE 4 */

.page:nth-child(4) {
    color: #00aeef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page:nth-child(4) p {
    color: #00aeef;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px #00aeef;
}

.page:nth-child(4) p:first-child, .page:nth-child(4) p:nth-child(2) {
    margin-bottom: 30px;
}

.container-blue-frames {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.blue-frame {
    width: 275px;
    height: 375px;
    border: 5px solid #00aeef;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #00aeef;
}

.container-blue-buttons {
    width: 160px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.blue-button {
    width: 50px;
    height: 50px;
    border: 3px solid #00aeef;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    filter: drop-shadow(0px 0px 5px #00aeef);
}

.stormtrooper, .blue-arrow {
    width: 150px;
    height: auto;
}

.blue-frame:last-child p {
    margin: 0;
}

/* PAGE 5 */

.big-snack {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 100px;
    align-items: center;
}

.snack_spitch {
    font-size: 40px;
    text-shadow: 0 0 10px lightgrey;
}

.snack-img {
    width: 400px;
    height: 280px;
}

.big-twitter {
    height: auto;
    width: 120px;
}

.networks {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 20px;
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-twitter, .mini-facebook {
    height: auto;
    width: 30px;
}